@charset "utf-8";
/* CSS Document */
/*-------------------------------------------------
GLOBALS & GENERAL CASES
-------------------------------------------------*/
* {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:#e63636;
}
.button {
	width:100px;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
}
.button a {
	display:block;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
	background:#e63636;
}
.button a:hover {
	display:block;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
	background:#838383;
}
.clear {
	clear:both;
}
/*-------------------------------------------------
body sytles start
-------------------------------------------------*/

body {
	background:url(../images/body-bg.png);
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:15px;
	color:#8b8b8b;
	line-height:20px;
}
.wrapper {
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:left;
	background:url(../images/top-bg.png) repeat-x;
}

/*-------------------------------------------------
Logo And Menu Styles Start
-------------------------------------------------*/
.logo-menu-container {
	width:960px;
	height:120px;
	margin:0 auto;
}
.logo {
	float:left;
	width:420px;
	height:120px;
	text-align:left;
	line-height:120px;
	font-size:48px;
	color:#e63636;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.menu {
	float:right;
	width:540px;
	height:120px;
	margin:0 auto;
}
.menu ul {
	list-style:none;
	outline:none;
	margin-top:38px;
}
.menu ul li {
	float:left;
	display:block;
	width:90px;
	height:44px;
	line-height:44px;
	text-align:center;
	background:url(../images/link-devider.png) no-repeat right;
}
.menu ul li a {
	color:#9a9a9a;
}
.menu ul li a:hover {
	color:#ffffff;
}
.menu ul li a.active {
	color:#ffffff;
}
.menu ul li.nobg {
	background:none;
}

/*-------------------------------------------------
Search Styles Start
-------------------------------------------------*/

.searchform-container {
	width:960px;
	height:100px;
	margin:0 auto;
}
.searchform-content {
	float:left;
	width:720px;
	font-size:20px;
	color:#ffffff;
	line-height:100px;
	text-align:left;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.search {
	float:right;
	width:240px;
	height:35px;
	background:#c2c2c2;
	margin-top:30px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}
.search-input {
	float:left;
	background:#c2c2c2;
	width:200px;
	height:35px;
	line-height:35px;
}
.search-input-textfield {
	background: none repeat scroll 0 0 transparent;
	border: 0 solid green;
	color:#8b8b8b;
	width: 200px;
	height:35px;
	padding-left:10px;
}
.search-icon {
	float:right;
	width:40px;
}
.search-icon img {
	border:none;
}

/*-------------------------------------------------
General Page Styles Start
-------------------------------------------------*/

.page {
	width:920px;
	margin:0 auto;
	background:url(../images/page-bg.png);
	padding:20px;
	overflow:auto;
}
.main-banner {
	width:900px;
 	height:280px;
	background:#e8e8e8;
	padding:10px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}


/*-------------------------------------------------
Left Column Styles Start
-------------------------------------------------*/

.left-column {
	float:left;
	width:260px;
	height:auto;
	margin:0 auto;
	padding-top:20px;
}
.dark-panel {
	float:left;
	width:250px;
	background:url(../images/panel-bg.png);
	padding:5px;
	text-align:left;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}
.dark-panel h1 {
	color:#fff;
	font-size:22px;
	font-weight:normal;
}
.dark-panel-top {
	float:left;
	width:250px;
	height:2px;
	background:url(../images/h-dots.png) repeat-x;
}
.dark-panel-center {
	float:left;
	width:210px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	background:url(../images/v-dots.png) repeat-y;
}
.dark-panel-center ul li {
	list-style:none;
	display:block;
}
.username {
	width:175px;
	background:#565656 url(../images/user-icon.png) left top no-repeat;
	height:35px;
	padding-left:35px;
	margin-top:20px;
}
.password {
	width:175px;
	background:#565656 url(../images/password-icon.png) left top no-repeat;
	height:35px;
	padding-left:35px;
	margin-top:20px;
	margin-bottom:20px;
}
.login-input {
	width:175px;
	height:35px;
	background: none repeat scroll 0 0 transparent;
	border: 0 solid green;
	color:#8b8b8b;
	padding-left:10px;
	line-height:35px;
}
.dark-panel-bottom {
	float:left;
	width:250px;
	height:2px;
	background:url(../images/h-dots.png) repeat-x;
}

.light-panel {
	float:left;
	width:250px;
	background:#ffffff;
	padding:5px;
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}
.light-panel h1 {
	color:#3c3c3c;
	font-size:22px;
	font-weight:normal;
}
.light-panel-top {
	float:left;
	width:250px;
	height:2px;
	background:url(../images/gray-h-dots.png) repeat-x;
}
.light-panel-center {
	float:left;
	width:210px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	background:url(../images/gray-v-dots.png) repeat-y;
}
.light-panel-center ul {
	list-style:none;
	margin-top:20px;
}
.light-panel-center ul li {
	display:block;
	height:34px;
	line-height:34px;
	text-align:left;
	border-bottom:1px solid #e4e4e4;
}
.light-panel-center ul li a {
	color:#8b8b8b;
}
.light-panel-center ul li a:hover {
	color:#e63636;
}
.light-panel-center ul li.no-border {
	border-bottom:none;
}
.light-panel-bottom {
	float:left;
	width:250px;
	height:2px;
	background:url(../images/gray-h-dots.png) repeat-x;
}

.date {
	color:#e63636;
	padding-top:20px;
}
.news {
	border-bottom:1px solid #4a4a4a;
	padding-bottom:20px;
}
.news-no-border {
	border-bottom:none;
	padding-bottom:none;
}

/*-------------------------------------------------
Right Column Styles Start
-------------------------------------------------*/

.right-column {
	float:right;
	width:640px;
	height:auto;
}

.right-column-content {
	width:560px;
	padding:30px;
	border:10px solid #e9e9e9;
	margin-top:20px;
	background:#fff;
	overflow:auto;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}
.right-column-content-heading {
	float:left;
	border-bottom:1px solid #e5e5e5;
	width:100%;
	text-align:left;
	padding-bottom:30px;
	clear:both;
}
.right-column-content-heading h1 {
	font-size:22px;
	color:#e63636;
	font-weight:normal;
}
.right-column-content-heading h2 {
	font-size:18px;
	color:#3c3c3c;
	font-weight:normal;
}
.right-column-content-img-left {
	float:left;
	width:170px;
	margin-right:30px;
	margin-top:40px;
}
.right-column-content-img-right {
	float:left;
	width:170px;
	margin-left:30px;
	margin-top:40px;
	margin-bottom:40px;
}
.right-column-content-img-right-margin-bottom-none {
	margin-bottom:0px;
}
.right-column-content-content {
	float:left;
	width:350px;
	margin-top:40px;
}
.right-column-content-content p {
	padding-bottom:30px;
}
.right-cloumn-content-border {
	border-bottom: 1px solid #e5e5e5;
}

/*-------------------------------------------------
Footer Styles Start
-------------------------------------------------*/

.footer-wrapper {
	width:100%;
	height:auto;
	background:url(../images/panel-bg.png);
	margin-top:20px;
	overflow:auto;
}
.footer-top {
	float:left;
	width:100%;
	height:2px;
	margin-top:5px;
	background:url(../images/h-dots.png) repeat-x;
}
.footer-center {
	width:920px;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:40px;
	overflow:visible;
}
.footer-center h1 {
	font-weight:normal;
	color:#fff;
	font-size:22px;
}
.footer-center h2 {
	font-weight:normal;
	color:#e63636;
	font-size:18px;
	padding-bottom:30px;
}
.footer-center h3 {
	font-weight:normal;
	color:#fff;
	font-size:18px;
}
.footer-content-left {
	float:left;
	width:640px;
	padding-right:20px;
}
.footer-content-left p {
	padding-bottom:30px;
}
.footer-content-right {
	float:left;
	width:230px;
	background:url(../images/v-dots-footer.png) repeat-y;
	padding-left:30px;
}
.footer-content-right p {
	padding-bottom:30px;
}
.footer-bottom {
	float:left;
	width:100%;
	height:2px;
	margin-bottom:5px;
	background:url(../images/h-dots.png) repeat-x;
}

/*-------------------------------------------------
Copyrights Styles Start
-------------------------------------------------*/

.copyrights {
	width:100%;
	text-align:center;
	height:85px;
	line-height:85px;
	background:url(../images/panel-bg.png);
}
.copyrights-bottom { 
	width:100%; 
	background:url(../images/h-dots.png) repeat-x; 
	height:2px; 
	margin-top:-5px;
}
