<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=WIN2K8SVR1\SQL2K8EEMAIN1;Initial Catalog=OpsMetrics;Persist Security Info=True;User ID=smbolt;Password=gen126"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
