<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- <add name="BmrEntities" connectionString="metadata=res://*/Entities.BmrEntities.csdl|res://*/Entities.BmrEntities.ssdl|res://*/Entities.BmrEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROPER\KR;initial catalog=Adsdi_Org;persist security info=True;user id=sa;password=Wh0dunit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="BmrEntities" connectionString="metadata=res://*/Entities.BmrEntities.csdl|res://*/Entities.BmrEntities.ssdl|res://*/Entities.BmrEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NB-99\SQL2014EE1;initial catalog=Adsdi_Org;persist security info=True;user id=sa;password=gen126@Adsdi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
    <!-- <add name="BmrEntities" connectionString="metadata=res://*/Entities.BmrEntities.csdl|res://*/Entities.BmrEntities.ssdl|res://*/Entities.BmrEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NB-98\SQL2012NB98;initial catalog=Adsdi_Org;persist security info=True;user id=sa;password=gen126@Adsdi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
</configuration>