<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TruckingEntitiesNB-98" connectionString="metadata=res://*/EntityFramework.Trucking.csdl|res://*/EntityFramework.Trucking.ssdl|res://*/EntityFramework.Trucking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NB-98\SQL2012NB98;initial catalog=Trucking;persist security info=True;user id=TruckingApp;password=trucking;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TruckingEntitiesNB-99" connectionString="metadata=res://*/EntityFramework.Trucking.csdl|res://*/EntityFramework.Trucking.ssdl|res://*/EntityFramework.Trucking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NB-99\SQL2012EE3;initial catalog=Trucking;persist security info=True;user id=TruckingApp;password=trucking;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TruckingEntitiesGATEWAY01" connectionString="metadata=res://*/EntityFramework.Trucking.csdl|res://*/EntityFramework.Trucking.ssdl|res://*/EntityFramework.Trucking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GATEWAY01\SQL2012EE1;initial catalog=Trucking;persist security info=True;user id=TruckingApp;password=trucking;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TruckingEntitiesDESKTOP-2O2P8NU" connectionString="metadata=res://*/EntityFramework.Trucking.csdl|res://*/EntityFramework.Trucking.ssdl|res://*/EntityFramework.Trucking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2O2P8NU\KR;initial catalog=Trucking;persist security info=True;user id=TruckingApp;password=trucking;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>