<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="XmlFilePath" value="@\XmlFiles"/>
    <add key="XsdFilePath" value="@\XsdFiles"/>
    <add key="MainFormHorizontalSize" value="85"/>
    <add key="MainFormVerticalSize" value="90"/>
  </appSettings>
</configuration>